<div class="wrapper">
  <div class="form-wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
      <h1>Register</h1>

      <div class="input-box">
        <input type="text" placeholder="Email" formControlName="email" />
        <i class="fa-solid fa-user"></i>
        <ng-container *ngIf="registerForm.get('email')?.touched">
          <p class="error" *ngIf="serverError">{{ serverError }}</p>
          <p
            class="error"
            *ngIf="registerForm.get('email')?.errors?.['required']"
          >
            Email is required!
          </p>

          <p
            class="error"
            *ngIf="registerForm.get('email')?.errors?.['emailValidator']"
          >
            Email is Invalid!
          </p>
        </ng-container>
      </div>

      <ng-container formGroupName="passGroup">
        <div class="input-box">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <i class="fa-solid fa-lock"></i>
          <ng-container
            *ngIf="registerForm.get('passGroup')?.get('password')?.touched"
          >
            <p
              class="error"
              *ngIf="registerForm.get('passGroup')?.get('password')?.errors?.['required']"
            >
              Passoword is required!
            </p>
          </ng-container>
        </div>

        <div class="input-box">
          <input
            type="password"
            placeholder="Repeat Password"
            formControlName="repeatPassword"
          />
          <i class="fa-solid fa-repeat"></i>
          <ng-container
            *ngIf="
              registerForm.get('passGroup')?.get('repeatPassword')?.touched
            "
          >
            <p
              class="error"
              *ngIf="passGroup?.errors?.['matchPasswordsValidator'] ||
                     passGroup?.get('repeatPassword')?.errors?.['required']"
            >
              Passowords is not match!
            </p>
          </ng-container>
        </div>
      </ng-container>

      <button
        class="btn"
        [disabled]="registerForm.invalid"
        [style]="{ backgroundColor: registerForm.invalid ? 'grey' : '' }"
      >
        Register
      </button>

      <div class="register-link">
        <p>Have an account? <a routerLink="/login">Login</a></p>
      </div>
    </form>
  </div>
</div>
