<div class="wrapper">
  <div class="detail-card-wrapper">
    <div class="media">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs2UarjNW5qg5uGs0j2GEwoxTGdJDZBkH9BA&usqp=CAU"
        alt="photo"
      />
    </div>

    <div class="card-information">
      <p><span>Model: </span>Some Model here</p>
      <p><span>Year: </span>Some Year here</p>
      <p><span>Information: </span>Some Info here</p>
      <p><span>Horses Power: </span>Some HP here</p>
      <p><span>Price: </span>Some price here</p>
      <div class="detail-btn">
        <a routerLink="/cars/edit/1">Edit</a>
        <a routerLink="/cars/delete/1">Delete</a>
      </div>
    </div>
  </div>
</div>
