<div class="wrapper">
  <div class="detail-card-wrapper">
    <div class="media">
      <img src="{{ currentCar.imageUrl }}" alt="photo" />
    </div>

    <div class="card-information">
      <p><span>Model: </span>{{currentCar.model}}</p>
      <p><span>Year: </span>{{currentCar.year}}</p>
      <p><span>Information: </span>{{currentCar.information}}</p>
      <p><span>Horses Power: </span>{{currentCar.horsePower}}</p>
      <p><span>Price: </span>{{currentCar.price}}</p>
      <div class="detail-btn">
        <a routerLink="/cars/edit/1">Edit</a>
        <a routerLink="/cars/delete/1">Delete</a>
      </div>
    </div>
  </div>
</div>
