<div class="wrapper">
  <div class="form-wrapper">
    <form>
      <h1>Edit</h1>
      <div class="input-box">
        <input type="text" placeholder="Model" />
        <i class="fa-solid fa-car"></i>
      </div>

      <div class="input-box">
        <input type="text" placeholder="Year" />
        <i class="fa-solid fa-calendar-days"></i>
      </div>

      <div class="input-box">
        <input type="text" placeholder="Horse Power" />
        <i class="fa-solid fa-horse-head"></i>
      </div>

      <div class="input-box">
        <input type="text" placeholder="Image URL" />
        <i class="fa-solid fa-image"></i>
      </div>

      <div class="input-box">
        <textarea placeholder="Information"></textarea>
        <i class="fa-solid fa-info"></i>
      </div>

      <button type="submit" class="btn first-btn">Edit</button>
      <button type="submit" class="btn">Cancel</button>
    </form>
  </div>
</div>
