.wrapper {
  width: 100%;
  min-height: 83vh;
  background-image: url(../../assets/images/catalogImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card-wrapper {
  padding: 2em;
  display: flex;
  gap: 0.8em;
}

.car-card img {
  height: 200px;
}

.car-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.car-card:hover {
  transform: translateY(-5px);
}

.car-details {
  background-color: rgb(28, 49, 68);
  padding: 0 0 10px 0;
  text-align: center;
}

.car-details h3 {
  padding-bottom: 5px;
  color: white;
}

.car-details a {
  font-weight: bold;
  text-decoration: none;
  padding: 0.3em 0.7em;
  color: white;
  border: 2px solid white;
}

.car-details a:hover {
  color: rgb(108, 170, 225);
  border-color: rgb(108, 170, 225);
}
