<div class="wrapper">
  <div class="form-wrapper">
    <form [formGroup]="createForm" (ngSubmit)="createSubmit()">
      <h1>Create</h1>
      <div class="input-box">
        <input type="text" placeholder="Model" formControlName="model" />
        <i class="fa-solid fa-car"></i>
      </div>

      <div class="input-box">
        <input type="text" placeholder="Year" formControlName="year" />
        <i class="fa-solid fa-calendar-days"></i>
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="Horse Power"
          formControlName="horsePower"
        />
        <i class="fa-solid fa-horse-head"></i>
      </div>

      <div class="input-box">
        <input type="text" placeholder="Image URL" formControlName="imageUrl" />
        <i class="fa-solid fa-image"></i>
      </div>

      <div class="input-box">
        <textarea
          placeholder="Information"
          formControlName="information"
        ></textarea>
        <i class="fa-solid fa-info"></i>
      </div>

      <button type="submit" class="btn">Create</button>
    </form>
  </div>
</div>
